<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,600&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="page">
      <section class="left">
        <section class="search-panel">
          <form>
            <div class="input-group">
              <label>Location</label>
              <input type="text" placeholder="sri lanka" />
            </div>
            <div class="input-group">
              <label>Date</label>
              <input type="date" placeholder="22 feb 2020" />
            </div>
            <button id="submit-btn">Submit</button>
          </form>
        </section>

        <section class="result-block">
          <figure class="background-img">
            <img
              src="https://cdn.pixabay.com/photo/2020/02/06/10/08/sunrise-4823732_960_720.jpg"
            />
          </figure>
          <div class="backdrop">
            <section class="header">
              <div class="trip">
                <label>Trip to</label>
                <h3>--</h3>
              </div>
              <div class="date">
                <label>On</label>
                <h3>--</h3>
              </div>
            </section>
            <section class="temp">
              <h1>--</h1>
              <label>C</label>
              <figure>
                <img src="https://image.flaticon.com/icons/svg/1146/1146869.svg" alt="Kiwi standing on oval">
              </figure>
            </section>
            <section class="meta-info">
              <label>
                this trip is 22 days away!
              </label>
              <label>
                By then it is mostly cloudly throughout the day.
              </label>
            </section>
            <section class="footer">
              <button class="save">Save trip</button>
            </section>
          </div>
        </section>
      </section>
      <section class="right">
        <section class="recently-added-block">
          <h2>Recently added</h2>
          <div class="result">
            <p>01</p>
            <figure>
              <img
                src="https://cdn.pixabay.com/photo/2020/02/06/10/08/sunrise-4823732_960_720.jpg"
              />
            </figure>
            <div class="details">
              <label>Sri lanka</label>
              <label>22 feb 2020</label>
              <label>20 *C</label>
            </div>
          </div>
          <div class="result">
            <p>01</p>
            <figure>
              <img
                src="https://cdn.pixabay.com/photo/2020/02/06/10/08/sunrise-4823732_960_720.jpg"
              />
            </figure>
            <div class="details">
              <label>Sri lanka</label>
              <label>22 feb 2020</label>
              <label>20 *C</label>
            </div>
          </div>
          <div class="result">
            <p>01</p>
            <figure>
              <img
                src="https://cdn.pixabay.com/photo/2020/02/06/10/08/sunrise-4823732_960_720.jpg"
              />
            </figure>
            <div class="details">
              <label>Sri lanka</label>
              <label>22 feb 2020</label>
              <label>20 *C</label>
            </div>
          </div>
          <div class="result">
            <p>01</p>
            <figure>
              <img
                src="https://cdn.pixabay.com/photo/2020/02/06/10/08/sunrise-4823732_960_720.jpg"
              />
            </figure>
            <div class="details">
              <label>Sri lanka</label>
              <label>22 feb 2020</label>
              <label>20 *C</label>
            </div>
          </div>
          <div class="result">
            <p>01</p>
            <figure>
              <img
                src="https://cdn.pixabay.com/photo/2020/02/06/10/08/sunrise-4823732_960_720.jpg"
              />
            </figure>
            <div class="details">
              <label>Sri lanka</label>
              <label>22 feb 2020</label>
              <label>20 *C</label>
            </div>
          </div>
        </section>
      </section>
    </div>
  </body>
</html>
